/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

head {
    display: none;
}

h1 {
    display: block;
    font-family: verdana;
    color: #333;
    line-height: 18px;
    font-weight: bold;
}

tr {
    display: table-row;
    border-color: inherit;
}

th {
    font-family: arial;
    font-size: 13px;
    color: #333;
}

td {
    font-family: sans-serif;
    font-size: 13px;
    padding-bottom: 7px;
    padding-left: 5px;
    padding-right: 5px;
}

h2 {
    font-family: verdana;
}

h4 {
    font-family: 
}